<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Mark Van Selous">
    <meta name="description" content="Query Form">
    <title>Cosmic Dust Query Form</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
	<link rel="stylesheet" href= {{ url_for('static', filename='my_styles.css') }}>
	<style>
	    body {
		background-color:#330099;
	    }
	</style>
</head>
<body>
<nav class="navbar navbar-text bg-secondary">
	    <a class="nav-link" href= {{ url_for('polarization_form') }} >Polarization</a>
	    <a class="nav-link" href= {{ url_for('size_form') }} >Size and Ratio</a>
	    <a class="nav-link" href= {{ url_for('color_form') }} >Color</a>
	    <a class="nav-link" href= {{ url_for('documentation') }} >Documentation</a>
</nav>
	
<h1 style="color:white"> Results</h1>

<div class="container-fluid">
    <div class="row">
	<div class="col-2 sidebar border border-warning position-fixed" id="sticky-sidebar">
	    <a class="btn btn-success" href= '/calculation/outfile.csv' role="button">Download CSV</a>
	</div>
	<!-- offset-2 is needed because their is a bug with bootstrap and creating sticky sidebars. -->
	<div class="col-8 offset-2">
	    <div class="form-group row">
		<table class="table table-dark table-striped table-bordered table-hover table-sm table-responsive">
		    <thead>
			<tr>
			{% for item in table_header %}
			    <th scope="col">{{item}}</th>
			{% endfor %}
			</tr>
		    </thead>
		    <tbody>
			{% for row in table_data %}
			<tr>
			    {% for item in row %}
			    <td style="color:white"> {{item}}</td>
			    {% endfor %}
			</tr>
			{% endfor %}
		    </tbody>
		</table>
	    </div>
	</div>
	<div class=col-2>
	</div>	
    </div>
</div>

</body>
</html>
